@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');

* {
  font-family: 'Muli', sans-serif;
}

:root {
  --purple01: #6200EE;
}


/*NAVIGATION*/
#navigation {
  background-color: var(--purple01);
  min-height: 10vh;
}
#logo {
  color: white;
  font-weight: bold;
  font-size: 80px;
}
.link {
  color: white;
  font-size: 60px;
}
